*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html{
    scroll-behavior: smooth;
}

#home{
    position: relative;
    background-color: #0E0E10;
    color: white; /* placeholder */
    min-height: 88vh;
}

p{
    line-height: 35px;
}

nav{
    z-index: 1;
    /*background-color: #0E0E10;*/
    background-image: linear-gradient(to top, #0E0E10, hsl(240, 6%, 25%));
    text-align: right;
    padding: 3rem;
    padding-right: 4rem;
    position: sticky;
    top: 0;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #D94EFF;
    font-size: 1.8rem;
    padding-left: 1.4rem;
    transition: 0.1s ease;
}

nav a:hover,
nav a:active{
    transform: scale(1.1);
}

img{
    border: transparent;
    border-radius: 50px;
    filter: drop-shadow(0 0 20px #D94EFF);
}

hr{
    border: 2px solid black;
    margin-top: 3rem;
}

.logo{
    padding-left: 25rem;
    padding-top: 8rem;
    padding-bottom: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title{
    padding-left: 3rem;
    max-width: 600px;
    font-size: 2rem;
}

.home{
    font-size: 4em;
    font-weight: bolder;
    text-transform: uppercase;
    color: #D94EFF;
}

.main-img{
    width: 21%;
    height: 21%;
}

.custom-shape-divider-bottom-1748013306 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1748013306 svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 167px;
}

.custom-shape-divider-bottom-1748013306 .shape-fill {
    fill: white;
}

.work, .prices{
    font-size: 2rem;
    padding-top: 20rem;
    padding-left: 18rem;
    padding-right: 18rem;
}

h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

.mywork{
    padding-left: 1em;
}

.work-section{
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-section:nth-child(5){
    padding-bottom: 5em;
}

.work-textbox{
    max-width: 600px;
    color: black;

    /*
    background-color: #0E0E10;
    color: white;
    border: transparent;
    border-radius: 6rem;
    box-shadow: 0 0 50px #D94EFF;
    */
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


/* Images */

.nature-img{
    width: 40%;
    height: 40%;
}

.art-img{
    width: 40%;
    height: 40%;
}

.football-img{
    width: 40%;
    height: 40%;
}


/* Booking page */

.single-page{
    height: 100vh;
}

#booking{
    height: 89.7%;
    background-image: linear-gradient(to top, gray, white);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#booking h1{
    color: white;
    font-size: 3rem;
}

.info-label{
    font-size: 1.5rem;
    opacity: 80%;
}

.frame{  
    width: 500px;
    height: 700px;
    background-color:#0E0E10;
    border: 3px solid #D94EFF;
    border-radius: 20px;
    box-shadow: 15px 15px 5px rgb(95, 95, 95);

    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.booking-form{
    min-height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.booking-input{
    background-color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 40px;
    width: 300px;
    border: 2px solid #D94EFF;
    border-radius: 8px;
}

select{
    height: 38px;
    border: 2px solid #D94EFF;
    border-radius: 8px;
    width: 300px;
}

.book-button{
    font-size: 1.5rem;
    border: 2px transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: hsl(287, 87%, 73%);
}

footer{
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer-nav {
    font-size: 1.4rem;
}

.footer-nav a{
    text-decoration: none;
}

.copyright{
    font-size: 1.1rem;
    opacity: 60%;
}

/* Prices */
.prices {
    padding-top: 12rem;
}

.price-section{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

.price-container{
    background-color: whitesmoke;
    width: 400px;
    min-height: 500px;
    padding: 2rem;
    box-shadow: 6px 6px 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.price-container ul{
    font-size: 0.8em;
    width: 80%;
    height: 43%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2em;

    list-style-type: none;
}

.price-container ul li::before{
    padding-right: 10px;
    content: "✔";
    color: green;
    font-size: 1.5em;
}

.price-tag{
    font-size: 1.6em;
    opacity: 70%;
}

.price-container > :nth-last-child(1){
    margin-top: -15px;
}

.price-container a{
    color: gray;
    font-size: 0.6em;
}

.standard{
    border: 3px solid gray;
    border-radius: 20px;
}

.advanced{
    border: 3px solid orange;
    border-radius: 20px;
}

.premium{
    border: 3px solid #D94EFF;
    border-radius: 20px;
}

.price-container h3{
    font-size: 1.7em;
}

.standard h3{
    color: rgb(76, 76, 76);
}

.advanced h3{
    color: orange;
}

.premium h3{
    color: #D94EFF;
}

.standard button{
    background-color: gray;
}

.advanced button{
    background-color: orange;
}

.premium button{
    background-color: #D94EFF;
}


